body{
    background-color: rgb(182, 245, 224);
}
#area, #fahrenheit, #age{
    background-color: rgb(249, 249, 235);
    border: 1px solid #077966;
    padding-left: 20px;
}
#celsius, #square{
    background-color: rgb(255, 255, 255);
    border: 1px solid #73f0f5;
    padding-left: 20px;
}
#timeZ{
    display: flex;
    width: 100%;
}
.time{
    background-color: white;
    border: 2px solid #077966;
    border-radius: 30px;
    height: 80px;
    padding: 15px;
}
.time h2, .time p{text-align:center;}
h2, h1{
    text-align: center;
}
div{
    width: 700px;
}
p, h2{
    color: rgb(32, 30, 30);
}